#main-header {
    background-color: #000;
    width: auto;
}
h1 {
    text-align: center;
    color: #FFF;
}

#results {
    top: 5em;
}

#box {
    background: peachpuff;
    position: relative;
    top: 5em;
    width: 40em;
    height: 33em;
    box-shadow: 10px 10px 5px #888888;
    border: 5px solid black;
}

.wrapper {
    text-align: center;
}

.form-control {
    width: 15em;
    display: inline;
}

.form-control-inline {
    max-width: 5em;
    display: inline;
}

.btn-primary {
    background: royalblue;
    margin: 1em;
    text-align: center;
    display: inline-block;
    border: hidden;
    border-radius: 20%;
    font-size: 100%;
    padding: 4%;
}

.btn-primary:hover {
    cursor: pointer;
    background: #2b669a;
}



.operations {
    background: crimson;
}

.operations:hover {
    cursor: pointer;
    background: #d9534f;
}

button {
    float: none !important;
}

#row-container{
    text-align: center;
}



