body {
    /*padding-top: 70px;*/
    font-family: 'Michroma', sans-serif;
    margin: 0 auto;
    line-height: 1.5;
    padding: 0;
}

.navbar-fixed-top {
    top: 0;
}

.main {
    background: url("../img/bos.jpg") no-repeat center center;
    background-size: cover;
    height: 55em;
    background-attachment: fixed;
    color: white;
    text-align: center;

}

#main_header {
    padding-top: 7em;
    text-align: right;
}

.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;

}

#avatar {
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;

}

.about {
    background-size: cover;
    height: 55em;
    background-color: #0f0f0f;
    color: white;
    text-align: center;

}

.col-sm-2 {
    /*border: 1px solid deeppink;*/
    text-align: left;
}

.col-sm-8 {

    /*border: 1px solid lightpink;*/
}

.portfolio {
    background-size: cover;
    height: 55em;
    background-color: #3c3c3c;
    color: white;

    text-align: center;
}

.contact {
    background: url("../img/bos.jpg") no-repeat center center;
    background-size: cover;
    height: 75em;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

.row {
    padding-top: 4em;
}

.form-group { /*this is the form container DO NOT DELETE*/
    text-align: left;
    text-transform: uppercase;
    background-color: darkgray;
    color: #000;
}




