body {
    /*padding-top: 70px;*/
    font-family: 'Michroma', sans-serif;
}

.navbar-fixed-top {
    top: 0;
}

.main {
    text-align: center;
    background: url("../img/bos.jpg") no-repeat center center;
    background-size: cover;
    height: 55em;
    background-attachment: fixed;

}

.main .container {
    max-width: 940px;
    margin: 0 auto;
    color: #FFF;
    top: 5em;
    position: center;
}

.main-body {
    color: #FFF;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5em;
}

.about {
    text-align: center;
    background-size: cover;
    height: 55em;
    background-color: #0f0f0f;

}

.about .container {
    top: 5em;
}

.portfolio {
    text-align: center;
    background-size: cover;
    height: 55em;
    background-color: #3c3c3c;
}

.portfolio .container {
    top: 5em;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    color: #FFF;
    /*top: 10.7em;*/
    position: relative;
    text-align: center;
}

.contact {
    background: url("../img/bos.jpg") no-repeat center center;
    text-align: center;
    background-size: cover;
    height: 55em;
    background-attachment: fixed;
}

.contact .container {
    top: 5em;
}

.nav-top {
    color: #286090;
    float: left;
    /*padding-top: 1em;*/

}

.avatar {
    /*float: right;*/
    padding-top: 7em;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#avatar {
    background: url(../img/IMG_0526.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.container-contact {
    padding-top: 10em;
    color: #FFF;
}


